<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="Open source secure image hosting with AES-256 encryption.">
    <meta name="viewport" content="width=device-width">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="128x128" />
    <link rel="apple-touch-icon-precomposed" href="favicon152.png" sizes="152x152" />
    <link rel="localization" hreflang="ru" href="/locales/ru.json" type="application/vnd.oftn.l10n+json"/>
    <link rel="localization" hreflang="en" href="/locales/en.json" type="application/vnd.oftn.l10n+json"/>
    <link rel="localization" hreflang="it" href="/locales/it.json" type="application/vnd.oftn.l10n+json"/>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="pull-right lang">
        <a title="English" id="en">en</a>
        <a title="Русский" id="ru">ru</a>
        <a title="Italiano" id="it">it</a>
      </div>
      <div class="page-header">
        <a href="/"><h1><span id="logo">{{ site.name }}</span> <small data-l10n="slogan">really secure image hosting</small></h1></a>
      </div>
      {{ content }}
      <noscript>
        <div class="text-center noscript">Sorry, {{ site.name }} uses JS for encryption and decryption.<br />Enable JS and reload page.</div>
      </noscript>
      <footer class="text-center">
        <hr />
        <div id="indiesocial-init" data-indieSocialServices="all" data-addFontelloIcon="true"></div>
        <p><span data-l10n="copyleft">Copyleft</span> <a href="https://img.bi">img.bi project</a>.</p>
        <p>
          <a href="https://github.com/imgbi" data-l10n="source">Source code</a> |
          <a href="/contacts" data-l10n="contacts">Contacts</a> |
          <a href="/ads" data-l10n="advertising">Advertising</a> |
          <a href="/donate" data-l10n="donate">Donate</a> |
          <a href="/apps" data-l10n="apps">Apps</a>
        </p>
        <p>
          <a href="https://img.bi" data-l10n="in-the-internet">In the internet</a> |
          <a href="http://imgbifwwqoixh7te.onion" data-l10n="tor-hidden-service">Tor hidden service</a> |
          <a href="http://imgbi.i2p?i2paddresshelper=HlMhQ2p~WB9WiehsAa2IDfndqXTMTOeYfOIxpeQH5hSeXLxtwUhd9FsaYmXM-hq66jRREcTpBqNmbILwQsInuBnQ7PZTgLel4tdKMrKhUlxDout4eZ6uRRN6QMWX9YzDCV0cmLBWHRcZlFaBirs3RbF5neUXgdnNqgcvdanQEt5-XN05I5JrIe~Dld9vQ1Z0WSn10BcOtXDm7uxnaHqJUbhtfOgmFoGAxF~di220GpRCzDP6Eg9NRIwAGGFxH8Y7PEOmlqiUCOn5aHwxk2msqrFLzBy6aVWq-e8etrhDxckPvJby7G13QCmVCO-cOOYOObP6bk51t99t5DNxIsGEuoEaUHyVNqAf9jvMjAcqpt6Gdk8slcV528rnSXJ6Vu2gcYYnb~kmt7wtvgm46xTE0OXxdDAmbtsRu~U6oSxRROkw02Q7hdnMmiF86dTYxx-dQ6H8aPQJV1SM5cNlv3XfqBl-V0-TounGNPcj4279s4DUs7-FfhuKYJjbZj5KOlPNAAAA" data-l10n="eepsite">Eepsite</a>
        </p>
      </footer>
    </div>
  </body>
</html>
