---
layout: default
---

<div id="uploadpage" class="hidden">
  <div class="row">
    <div class="col-md-12">
      <div id="holder" class="text-center"><h2 data-l10n="help" id="help">Drop images here or just click</h2></div>
      <div class="input"><input type="file" id="imageUpload" multiple="multiple" accept="image/*" /></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" id="button" class="btn btn-primary btn-lg btn-block" data-l10n="upload">Upload</button>
      <h4 id="uploading" class="text-center hidden"><i class="icon-spin5 animate-spin"></i> <span data-l10n="uploading">Uploading</span></h4>
    </div>
  </div>
  <div class="form-horizontal storefor">
    <div class="form-group">
      <div class="col-md-2 col-md-offset-8 control-label text-muted" data-l10n="store-for">Store for:</div>
      <div class="col-md-2">
        <select class="form-control input-sm" id="expire">
          <option value="1" data-l10n="1d">One day</option>
          <option value="3" data-l10n="3d">Three days</option>
          <option value="7" data-l10n="1w">One week</option>
          <option value="28" data-l10n="4w">Four weeks</option>
          <option value="90" data-l10n="90d">90 days</option>
          <option selected value="180" data-l10n="180d">180 days</option>
          <option value="365" data-l10n="1y">One year</option>
          <option value="0" data-l10n="forever">Forever</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center why" data-l10n="why">Why img.bi is secure and awesome?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center" data-l10n="cryptography">Cryptography</h3>
        </div>
        <div class="panel-body" data-l10n="cryptography-text">
          Images are encrypted using <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES-256</a> with random key in your browser before upload. Nobody can view your images, even people who have direct access to servers. We also use <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security">TLS</a> which defend you from <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack">Man-in-the-Middle attacks</a>.
        </div>
      </div>
    </div>
    <div class="col-md-4">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center" data-l10n="open-source">Open source</h3>
        </div>
        <div class="panel-body" data-l10n="open-source-text">
          We believe that only open source crypto is acceptable, so all source code of img.bi is <a href="https://github.com/imgbi">available on GitHub</a> under GPLv3 license.
        </div>
      </div>
    </div>
    <div class="col-md-4">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center" data-l10n="privacy">Privacy</h3>
        </div>
        <div class="panel-body" data-l10n="privacy-text">
          We do not store any logs, except <a href="https://en.wikipedia.org/wiki/SHA-3">SHA-3</a> hash of uploader&#39;s IP address with random <a href="https://en.wikipedia.org/wiki/Salt_%28cryptography%29">salt</a> for a day. But our hosting provider and systems like <a href="https://en.wikipedia.org/wiki/SORM">SORM</a>, <a href="https://en.wikipedia.org/wiki/Hepting_v._AT%26T">NarusInsight</a>, <a href="https://en.wikipedia.org/wiki/Titan_traffic_database">Titan traffic database</a> and other can store their own logs. Be careful.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loading" class="hidden">
  <h4 class="text-center"><i class="icon-spin5 animate-spin"></i> <span data-l10n="loading">Loading</span></h4>
</div>
<div id="viewpage" class="hidden">
  <div class="text-center imageview">
    <img class="image" src="//:0" />
  </div>
  <div class="row inputs">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav nav-tabs">
        {% if site.buildfor == 'web' %}
          <li class="active button-web"><a>Web</a></li>
        {% elsif site.clearnet %}
          <li class="button-web"><a>Web</a></li>
        {% endif %}
        {% if site.buildfor == 'tor' %}
          <li class="active button-tor"><a>Tor</a></li>
        {% elsif site.tor %}
          <li class="button-tor"><a>Tor</a></li>
        {% endif %}
        {% if site.buildfor == 'i2p' %}
          <li class="active button-eep"><a>I2P</a></li>
        {% elsif site.i2p %}
          <li class="button-eep"><a>I2P</a></li>
        {% endif %}
      </ul>
      
      <div class="form-group text-center">
        <div class="input-group">
          <input type="text" readonly="readonly" class="form-control link text-center link-view">
          <span class="input-group-btn">
            <button class="btn btn-default icon-clipboard link-view-copy" type="button"  title="Copy to clipboard"></button>
          </span>
        </div>
        <span class="help-block" data-l10n="link-view">Link to view image.</span>
        <div class="input-group">
          <input type="text" readonly="readonly" class="form-control link text-center embed">
          <span class="input-group-btn">
            <button class="btn btn-default icon-clipboard embed-copy" type="button" title="Copy to clipboard"></button>
          </span>
        </div>
        <span class="help-block" data-l10n="embed">Embed image (require <a href="https://img.bi/js">img.bi.js</a>).</span>
        <div class="rmlinks hidden">
          <div class="input-group">
            <input type="text" readonly="readonly" class="form-control link text-center link-remove">
            <span class="input-group-btn">
              <button class="btn btn-default icon-clipboard link-remove-copy" type="button" title="Copy to clipboard"></button>
            </span>
          </div>
          <span class="help-block" data-l10n="link-remove">Link to remove image.</span>
          <div class="input-group">
            <input type="text" readonly="readonly" class="form-control link text-center link-auto-remove">
            <span class="input-group-btn">
              <button class="btn btn-default icon-clipboard link-auto-remove-copy" type="button" title="Copy to clipboard"></button>
            </span>
          </div>
          <span class="help-block" data-l10n="link-auto-remove">Remove image after first view.</span>
        </div>
      </div>
        
    </div>
  </div>
</div>
