.row
  .col-md-8
    h3(translate) Embed images from sites based on img.bi software.
  .col-md-3.text-center
    h1 img.bi.js
    a.btn.btn-primary(href='https://github.com/imgbi/img.bi.js/archive/master.zip', translate) Download
    a.btn.btn-default(href='https://github.com/imgbi/img.bi.js', translate) View on GitHub
.row
  .col-md-12.text-center
    h4(translate) How to use
    ol
      li(translate)
        | Download img.bi.js and 
        a(href='http://bitwiseshiftleft.github.io/sjcl/') SJCL
        | .
      li
        span(translate) Load it
        br
        code <script src="sjcl.js"></script>
        br
        code <script src="img.bi.js"></script>
      li
        span(translate) Use!
        br
        code
          | &lt;img data-imgbi=&quot;https://img.bi/#!mnqSLmy!4Rnqh8LYLWEttc3PtIUibqtFWvR2l0g5Ug6m0zsZ&quot; /&gt;
