<div class="row">
  <div class="col-md-12 text-center">
    <h3 translate>Applications for use img.bi</h3>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4><a href="https://github.com/imgbi/imgbi-client">imgbi-client</a><br /><small translate>command-line, node.js</small></h4>
    <p><span translate>License</span>: <a href="http://opensource.org/licenses/mit-license.php">MIT</a></p>
    <code>npm install imgbi -g</code>
  </div>
  <div class="col-md-8">
    <p translate>Just a simple command-line client for uploading/downloading/deleting images. Also can be used in Node.js applications.</p>
    <pre>$ imgbi-client -i image.png
https://img.bi/#!XqL4IVp!jxJccrgkodebbxlaplteabgtbkllab5tberiWkam
https://img.bi/rm/#!XqL4IVp!jxJccrgkodebbxlaplteabgtbkllab5tberiWkam!Rl80pmqeXIgRhZz9TQvCrYLAIAi

$ imgbi-client -d 'https://img.bi/#!XqL4IVp!jxJccrgkodebbxlaplteabgtbkllab5tberiWkam' -o images
OK: Saved to XqL4IVp.png

$ imgbi-client -r 'https://img.bi/rm/#!XqL4IVp!jxJccrgkodebbxlaplteabgtbkllab5tberiWkam!Rl80pmqeXIgRhZz9TQvCrYLAIAi'
OK: Removed</pre>
    <p translate>More examples in <a href="https://github.com/imgbi/imgbi-client/blob/master/README.md">README</a>.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <h4><a href="https://github.com/imgbi/img.bi-firefox">img.bi-firefox</a><br /><small translate>Firefox add-on</small></h4>
    <p><span translate>License</span>: <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a></p>
    <a href="https://addons.mozilla.org/firefox/addon/imgbi/" class="btn btn-default" translate>Install</a>
  </div>
  <div class="col-md-8">
    <p translate>Add-on for Firefox which let you upload images to img.bi from your browser.</p>
  </div>
</div>
