<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h3 translate>Donate</h3>
    <p translate>img.bi is an open source project available free of charge to anyone. But servers, domains, certs and many other things cost some money. Even a little donation helps to run img.bi.</p>
    <h3><span translate>Bitcoin address</span>: <a href="bitcoin:1imgbioAKhqeSaAG2SB6Ct79r7UeyGpYP">1<b>imgbi</b>oAKhqeSaAG2SB6Ct79r7UeyGpYP</a></h3>
    <h3><span translate>Litecoin address</span>: <a href="litecoin:LiMgBiGCWR3bYsHXLfZYonLBZpgCVqMAw2">L<b>iMgBi</b>GCWR3bYsHXLfZYonLBZpgCVqMAw2</a></h3>
    <h3><span translate>Dogecoin address</span>: <a href="dogecoin:DGimgbiEpUJREs2zgFEY8xux3oF85JpkWY">DG<b>imgbi</b>EpUJREs2zgFEY8xux3oF85JpkWY</a></h3>
    <h4 translate><a href="#contacts">Contact us</a> if you want to donate another way.</h4>
    <p translate>Also, you can <a href="#ads">buy ads</a> on img.bi. That will help too.</p>
  </div>
</div>
