<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 translate>Advertising</h3>
    <h4 translate>Rules</h4>
    <ol>
      <li translate>Without external requests.</li>
      <li translate>Nothing that can violate privacy of img.bi users.</li>
      <li translate>Nothing which is illegal in Netherlands on banner.</li>
      <li translate>No pop-unders, pop-ups and other bad things.</li>
      <li translate>Ads must be <a href="https://adblockplus.org/en/acceptable-ads#criteria">acceptable</a>.</li>
    </ol>
    <p translate>We accept Bitcoin, Litecoin and much more payment systems.</p>
  </div>
</div>
<div class="row text-center">
  <h3><a href="#contacts" translate>Contact us</a>.</h3>
</div>
