<div class="row text-center" ng-show="images[0] == undefined">
  <h4><div class="icon-spinner animate-spin"></div> <span translate>Loading</span></h4>
</div>

<div ng-init="images = []">
  <div class="row" data-ng-repeat="image in images">
    <div class="text-center" ng-init="zoom = false">
      <img ng-src="{{image.url}}" ng-class="{'image': !zoom, 'zoom-out': zoom}" ng-click="zoom = !zoom" />
    </div>
    <div class="col-md-6 col-md-offset-3 inputs">
      <ul class="nav nav-tabs">
        <li ng-show="config.clearnet" ng-class="{true: 'active'}[url == config.clearnet]" ng-click="url = config.clearnet"><a>Web</a></li>
        <li ng-show="config.tor" ng-class="{true: 'active'}[url == config.tor]" ng-click="url = config.tor"><a>Tor</a></li>
        <li ng-show="config.i2p" ng-class="{true: 'active'}[url == config.i2p]" ng-click="url = config.i2p"><a>I2P</a></li>
      </ul>
      <div class="text-center">
        <div class="row">
          <div class="div-input col-md-11">{{url}}/#/{{image.id}}!{{image.pass}}</div>
          <button class="btn btn-default icon-link btn-input-copy col-md-1" type="button" title="{{'Copy to clipboard'|translate}}" data-clipboard-text="{{url}}/#/{{image.id}}!{{image.pass}}" copy></button>
        </div>
        <span class="help-block" translate>Link to view image.</span>
        <div class="row">
          <div class="div-input col-md-11">&lt;img data-imgbi=&quot;{{url}}/#/{{image.id}}!{{image.pass}}&quot; /></div>
          <button class="btn btn-default icon-link btn-input-copy col-md-1" type="button" title="{{'Copy to clipboard'|translate}}" data-clipboard-text="<img data-imgbi=&quot;{{url}}/#/{{image.id}}!{{image.pass}}&quot; />" copy></button>
        </div>
        <span class="help-block" translate>Embed image (require <a href="https://img.bi/#/js">img.bi.js</a>).</span>
        <div data-ng-if="image.rmpass">
          <div class="row">
            <div class="div-input col-md-11">{{url}}/#rm/{{image.id}}!{{image.pass}}!{{image.rmpass}}</div>
            <button class="btn btn-default icon-link btn-input-copy col-md-1" type="button" title="{{'Copy to clipboard'|translate}}" data-clipboard-text="{{url}}/#rm/{{image.id}}!{{image.pass}}!{{image.rmpass}}" copy></button>
          </div>
          <span class="help-block" translate>Link to remove image.</span>
          <div class="row">
            <div class="div-input col-md-11">{{url}}/#autorm/{{image.id}}!{{image.pass}}!{{image.rmpass}}</div>
            <button class="btn btn-default icon-link btn-input-copy col-md-1" type="button" title="{{'Copy to clipboard'|translate}}" data-clipboard-text="{{url}}/#autorm/{{image.id}}!{{image.pass}}!{{image.rmpass}}" copy></button>
          </div>
          <span class="help-block" translate>Remove image after first view.</span>
        </div>
      </div>
    </div>
  </div>
</div>
