<!DOCTYPE html>
<html ng-app="imgbi" ng-controller="main" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>{{config.name}}</title>
    <meta name="description" content="Open source secure image hosting with client-side AES-256 encryption.">
    <meta property="og:title" content="img.bi" />
    <meta property="og:site_name" content="img.bi" />
    <meta name="viewport" content="width=device-width">
    <link href="css/main.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#df571b">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  </head>
  <body>
    <div class="container">
      <div class="pull-right">
        <a href="#my" translate>my images</a> | 
        <span class="lang" data-ng-repeat="lang in config.languages">
          <a title="{{lang.name}}" id="{{lang.iso}}" ng-click="localize(lang.iso)">{{lang.iso}}</a>
        </span>
      </div>
      <div class="page-header">
        <a href="/"><h1><span class="logo">{{config.name}}</span> <small translate>really secure image hosting</small></h1></a>
      </div>
      <div ng-view></div>
      <noscript>
        <div class="text-center noscript">Sorry, img.bi uses JS for encryption and decryption.<br />Enable JS and reload page.</div>
      </noscript>
      <footer class="text-center">
        <hr />
        <p><span translate>Copyleft</span> <a href="https://img.bi">img.bi project</a>.</p>
        <p>
          <a href="https://github.com/imgbi" translate>Source code</a> |
          <a href="#contacts" translate>Contacts</a> |
          <a href="#ads" translate>Advertising</a> |
          <a href="#donate" translate>Donate</a> |
          <a href="#apps" translate>Apps</a>
        </p>
        <p>
          <a href="https://img.bi" translate>In the internet</a> |
          <a href="http://imgbifwwqoixh7te.onion" translate>Tor hidden service</a> |
          <a href="http://imgbi.i2p?i2paddresshelper=HlMhQ2p~WB9WiehsAa2IDfndqXTMTOeYfOIxpeQH5hSeXLxtwUhd9FsaYmXM-hq66jRREcTpBqNmbILwQsInuBnQ7PZTgLel4tdKMrKhUlxDout4eZ6uRRN6QMWX9YzDCV0cmLBWHRcZlFaBirs3RbF5neUXgdnNqgcvdanQEt5-XN05I5JrIe~Dld9vQ1Z0WSn10BcOtXDm7uxnaHqJUbhtfOgmFoGAxF~di220GpRCzDP6Eg9NRIwAGGFxH8Y7PEOmlqiUCOn5aHwxk2msqrFLzBy6aVWq-e8etrhDxckPvJby7G13QCmVCO-cOOYOObP6bk51t99t5DNxIsGEuoEaUHyVNqAf9jvMjAcqpt6Gdk8slcV528rnSXJ6Vu2gcYYnb~kmt7wtvgm46xTE0OXxdDAmbtsRu~U6oSxRROkw02Q7hdnMmiF86dTYxx-dQ6H8aPQJV1SM5cNlv3XfqBl-V0-TounGNPcj4279s4DUs7-FfhuKYJjbZj5KOlPNAAAA" translate>Eepsite</a>
        </p>
      </footer>
    </div>
    <script src="scripts/main.js"></script>
  </body>
</html>
